.top-bar {
    background-color: #DABE43;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
}

.project-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.1rem;
    flex-grow: 1; /* Permite que el contenedor crezca */
    justify-content: center; /* Centra el contenido dentro de project-info */
}

.project-name {
    font-weight: 700;
    color: var(--primary-color);
}

.module-name {
    color: var(--text-color);
    font-size: 0.95rem;
    opacity: 0.8;
}

.notifications-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notifications-container button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.notifications-container button img {
    width: 24px;
    height: 24px;
}

.notifications-container button span {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
}
